.Geolocation {
  /* background by SVGBackgrounds.com */
  background-color: #262626;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23344545' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23426363' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23518282' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%235fa0a0' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%236dbfbf' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .locator {
    display: block;
    margin: 0 auto;
    padding: 2em 1em;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);

    .arrow {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 16em;
      transition: all .2s;
      transform: rotate(0deg);
    }

    .speed {
      color: white;
      text-align: center;
      margin-top: 1em;
    }

    .units {
      font-size: 15px;
    }
  }
}