@import '../../assets/styles/variables.scss';

.CTA {
  border-radius: 5px;
  border: .15em solid $background;
  color: $black;
  display: inline-block;
  padding: .5em .75em;
  text-decoration: none;

  &:hover {
    border-color: $white;
    color: #000;
    text-decoration: underline;
  }

  &.ProjectCTA1 {
    background: $black;
    color: $white;
    border-color: $grey;
    margin-right: .5em;

    &:hover {
      background: darken($black, 10%);
      border-color: $white;
      color: $white;
    }
  }

  &.ProjectCTA2 {
    background: $blue;
    color: $background;
    border-color: $background;
    margin-right: .5em;

    &:hover {
      background: darken($blue, 10%);
      border-color: $white;
      color: $background;
    }
  }

  &.CodeCTA {
    background: $white;
    border-color: $background;
    color: $background;

    @media screen and (max-width: 356px) {
      margin-top: 1em;
    }

    &:hover {
      background: darken($white, 10%);
      border-color: $white;
      color: $background;
    }
  }
}

.ShowcaseHead {
  margin-bottom: 2em;

  @media screen and (min-width: 64em) {
    margin-bottom: 3em;
  }
}

.Showcase1,
.Showcase2 {
  margin-top: 1em;
  .ShowcaseExample {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3em;
    -moz-box-shadow: 0 .75em .75em -.75em #000,
      0 -.75em .75em -.75em #000;
    -webkit-box-shadow: 0 .75em .75em -.75em #000,
      0 -.75em .75em -.75em #000;
    box-shadow: 0 .75em .75em -.75em #000,
      0 -.75em .75em -.75em #000;

    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;

    &.no-padding.columns {
      padding: 0;
    }

    &.no-bottom-space {
      margin-bottom: 0;
    }

    &.no-bottom-space-desktop {
      margin-bottom: 0;

      @media screen and (max-width: 64em) {
        margin-bottom: 3em;
      }
    }

    &:hover {
      -moz-box-shadow: 0 1em 1em -.5em rgba(0, 0, 0, .6),
        0 -.5em 1em -.5em rgba(0, 0, 0, .6);
      -webkit-box-shadow: 0 1em 1em -.5em rgba(0, 0, 0, .6),
        0 -.5em 1em -.5em rgba(0, 0, 0, .6);
      box-shadow: 0 1em 1em -.5em rgba(0, 0, 0, .6),
        0 -.5em 1em -.5em rgba(0, 0, 0, .6);

      transform: scale(1.025);

      -moz-transition: all .15s linear;
      -webkit-transition: all .15s linear;
      -o-transition: all .15s linear;
      transition: all .15s linear;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    h3,
    .h3 {
      vertical-align: bottom;
      text-align: center;
      padding: .15em;
    }

    p {
      margin-bottom: 3em;
    }

    &.margin-top-0-mobile-margin-top-2 {
      margin-top: 2em;

      @media screen and (min-width: 64em) {
        margin-top: 0;
      }
    }
  }
}

.Showcase1 {
  .ShowcaseExample {
    h3,
    .h3 {
      color: $black;
    }
  }
}

.Showcase2 {
  .ShowcaseExample {
    h3,
    .h3 {
      color: $white;
    }
  }
}