.Accordion {
  background: none;
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;

  // <li>
  .accordion-item {
    margin: 0;
    border: .25em solid $black;
    border-bottom: none;

    &:last-child {
      border-bottom: .25em solid $black;
    }

    // Active
    &.is-active {
      background: none;

      // <a>
      .accordion-title {
        background: rgba(0, 0, 0, .8);
        color: $white;

        &:hover {
          background: rgba(0, 0, 0, .8);
        }

        &::before {
          margin-top: -.8rem;
        }

        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6,
        p {
          color: $white;
        }
      }
    }

    // <a>
    .accordion-title {
      text-decoration: none;
      display: block;
      padding: 1em 3em 1em 1em;
      background: none;
      border: none;
      transition: all .2s ease;

      &:hover {
        background: rgba(0, 0, 0, .2);
      }

      &::before {
        margin-top: -.6rem;
        font-size: 1.75em;
        font-weight: bold;
      }
    }

    .accordion-content {
      border: none;
      background: none;
    }
  }
}