#about-me {
  .introduction {
    h1,
    .h1 {
      margin-top: 0;
    }

    h2,
    .h2 {
      margin-bottom: 1em;
      line-height: 1;

      em {
        font-size: 80%;
      }
    }
  }

  h5,
  .h5 {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 40em) {
    padding-bottom: 1em;
  }
}