@import '../../assets/styles/variables.scss';

// ~~~ // Entirety of _about.scss
.AboutMe {
  border-bottom: solid 3px $white;
  
  h1,
  .h1 {
    margin-top: 0;
  }

  h2,
  .h2 {
    margin-bottom: 1em;
    line-height: 1;

    em {
      font-size: 80%;
    }
  }

  h5,
  .h5 {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 40em) {
    padding-bottom: 1em;
  }
}

.PortraitSuit {
  position: relative;
  top: 0;

  img {
    display: block;
    margin: 0 auto;
  }
}

.Socials {
  display: inline;
  float: left;
  margin-top: .5rem;
  margin-bottom: 2em;
  border-bottom: none;

  a {
    min-width: unset;
    width: unset;
    border-bottom: none;
    display: inline-block;
    float: left;
    margin-right: 1.25em;

    &:hover,
    &:visited,
    &:focus {
      background-color: inherit;
    }

    @media screen and (max-width: 940px) {
      min-width: unset;
    }

    img {
      margin: 0;
      padding: 0;
      max-width: 2.75em;

      -webkit-filter: grayscale(100%);
      -webkit-transition: .25s ease-in-out;
      -moz-filter: grayscale(100%);
      -moz-transition: .25s ease-in-out;
      -o-filter: grayscale(100%);
      -o-transition: .25s ease-in-out;

      &:hover,
      &:focus {
        -webkit-filter: grayscale(0%);
        -webkit-transition: .25s ease-in-out;
        -moz-filter: grayscale(0%);
        -moz-transition: .25s ease-in-out;
        -o-filter: grayscale(0%);
        -o-transition: .25s ease-in-out;
      }
    }
  }
}