.UpdateCSSVariables {
  // CSS way of creating variables
  --base: #6dbfbf;
  --spacing: 10px;
  --blur: 10px;

  img {
    // CSS Variable usage
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
  }

  .hl {
    color: var(--base);
  }

  .Controls {
    padding: 1.5em 1em;
    margin: 1em auto;
    border: 3px solid var(--base);

    label {
      padding-bottom: .25em;
      margin-bottom: .5em;
      border-bottom: 3px solid var(--base);
    }

    input {
      width: 100%;
    }

    .Spacing,
    .Blur {
      margin-top: .6em;
      margin-bottom: 1.5em;

      @media screen and (min-width: 64em) {
        margin-bottom: 0;
      }
    }

    .Base {
      margin-bottom: 0;
    }
  }
  
  // Range Styles
  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: .6em;
    cursor: pointer;
    animate: .2s;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    background: var(--base);
    border-radius: 1.3px;
    border: .2px solid #010101;
  }
  input[type='range']::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: .6em;
    cursor: pointer;
    animate: .2s;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    background: var(--base);
    border-radius: 1.3px;
    border: .2px solid #010101;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: .6em;
    cursor: pointer;
    animate: .2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    background: #2a6495;
    border: .2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  }
  input[type='range']::-ms-fill-upper {
    background: var(--base);
    border: .2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  }
  input[type='range']::-ms-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: var(--base);
  }
  input[type='range']:focus::-ms-fill-upper {
    background: #367ebd;
  }
}