.JavaScript30 {
  .results-type {
    display: none !important;
  }
  
  .back-cta {
    a {
      text-decoration: none;
      padding-bottom: .1em;
      border-bottom: 1px solid;
  
      &:hover {
        border-bottom: 0;
      }
    }
  }
  
  .js30-intro {
    .back-cta {
      margin-top: 1.5em;
  
      @media screen and (max-width: 940px) {
        margin-top: 1em;
      }
    }
  
    h1 {
      margin-top: .33em;
    }
  }

  /* background by SVGBackgrounds.com */
  background-color: #262626;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23737373' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23484848' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23838383' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23515151' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23939393' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235a5a5a' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a3a3a3' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23636363' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b4b4b4' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%236c6c6c' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23c5c5c5' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23767676' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .showcase-2 {
    .showcase-example {
      h3 {
        color: $black;
      }
    }
  }
}