@import '../../assets/styles/variables.scss';

.Heading {  
  padding: .5em;
}

.Icon {
  display: block;
  margin: 1em auto;

  img {
    display: block;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid $black;
    background: rgba(24, 24, 24, .25);
    -webkit-box-shadow: .33em .33em .33em 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: .33em .33em .33em 0 rgba(0, 0, 0, .4);
    box-shadow: .33em .33em .33em 0 rgba(0, 0, 0, .4);
  }

  p {
    background-color: $black;
    color: $white;
    padding: .25em;
    font-size: .75rem;
    font-weight: bold;
    max-width: 119px;
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: .33em .33em .33em 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: .33em .33em .33em 0 rgba(0, 0, 0, .4);
    box-shadow: .33em .33em .33em 0 rgba(0, 0, 0, .4);
  }
}