.Hidden {
  height: 5rem;
  overflow: hidden;
  position: relative;
  transition: height .5s ease-out;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, .4) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &.LargeExcerpt {
    height: 10rem;
  }
}

.Visible {
  overflow: hidden;
  height: auto;
  transition: height .5s ease-out;

  &.LargeExcerpt {
    height: auto;
  }
}

.ShowMore {
  display: block;
  margin-top: 1em;
}