.white {
  background-color: $white;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  p,
  a {
    color: $black;
  }

  a {
    transition: color .25s ease;
  }

  a:hover,
  a:focus {
    color: darken($black, 33%);
  }

  a.evertz-text,
  a.evertz-text:visited {
    background-color: $background;
    padding: 0 .2rem;
    transition: all .4s ease;

    &:hover,
    &:focus {
      background-color: $white;
      color: $background;
      text-decoration: underline;
    }
  }

  a.thrillworks-text {
    color: darken($thrillworks, 18%);

    &:hover {
      color: darken($thrillworks, 21%);
    }
  }

  a.cta {
    &.project-cta {
      background: $blue;
      border-color: $grey;

      &:hover {
        background: darken($blue, 10%);
        border-color: $black;
      }
    }

    &.code-cta {
      background: $white;
      border-color: $grey;

      &:hover {
        background: darken($white, 10%);
        border-color: $black;
      }
    }
  }

  .accordion {
    // <li>
    .accordion-item {
      border: .25em solid $black;

      &:last-child {
        border-bottom: .25em solid $black;
      }

      // Active
      &.is-active {
        // <a>
        .accordion-title {
          background: rgba(0, 0, 0, .8);
          color: $white;

          &:hover {
            background: rgba(0, 0, 0, .8);
          }

          h1,
          .h1,
          h2,
          .h2,
          h3,
          .h3,
          h4,
          .h4,
          h5,
          .h5,
          h6,
          .h6,
          p {
            color: $white;
          }
        }
      }
    }
  }

  /* CodePen */
  .cp_embed_wrapper {
    border-color: $black;
  }
}

.black {
  background-color: $black;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  p,
  a {
    color: $white;
  }

  a {
    transition: color .25s ease;
  }

  a:hover,
  a:focus {
    color: darken($white, 33%);
  }

  a.cta {
    &.project-cta {
      background: $blue;

      &:hover {
        background: darken($blue, 10%);
      }
    }

    &.code-cta {
      background: $white;

      &:hover {
        background: darken($white, 10%);
      }
    }
  }

  ul {
    color: $white;
  }

  .accordion {
    // <li>
    .accordion-item {
      border: .25em solid $white;

      &:last-child {
        border-bottom: .25em solid $white;
      }

      // Active
      &.is-active {
        // <a>
        .accordion-title {
          background: rgba(255, 255, 255, .8);
          color: $black;

          &:hover {
            background: rgba(255, 255, 255, .8);
          }

          h1,
          .h1,
          h2,
          .h2,
          h3,
          .h3,
          h4,
          .h4,
          h5,
          .h5,
          h6,
          .h6,
          p {
            color: $black;
          }
        }
      }
    }
  }

  /* CodePen */
  .cp_embed_wrapper {
    border-color: $white;
  }
}

.white.black {
  background-color: $black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $white;
  }

  a {
    transition: color .25s ease;
  }

  a:hover,
  a:focus {
    color: darken($black, 33%);
  }
}

.black.white {
  background-color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: #000;
  }

  a {
    transition: color .25s ease;
  }

  a:hover,
  a:focus {
    color: darken($white, 33%);
  }
}

.grey {
  background-color: $grey;
}

.blue {
  background-color: $blue;

  a {
    transition: color .25s ease;
  }

  a:hover,
  a:focus {
    color: darken($black, 33%);
  }

  a.cta {
    &.project-cta {
      background: $black;
      border-color: $dark-blue;
      color: $white;

      &:hover {
        background: $background;
        border-color: $white;
      }
    }

    &.code-cta {
      background: $white;
      border-color: $dark-blue;

      &:hover {
        background: darken($white, 10%);
        border-color: $white;
      }
    }
  }
}

.blue-gradient {
  background: rgba(109, 170, 170, 1);
  background: linear-gradient(45deg, rgba(109, 170, 170, 1) 0%, rgba(150, 233, 233, 1) 100%);
    background: -moz-linear-gradient(45deg, rgba(109, 170, 170, 1) 0%, rgba(150, 233, 233, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(109, 170, 170, 1) 0%, rgba(150, 233, 233, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(109, 170, 170, 1) 0%, rgba(150, 233, 233, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(109, 170, 170, 1)), color-stop(100%, rgba(150, 233, 233, 1)));
    background: -webkit-linear-gradient(45deg, rgba(109, 170, 170, 1) 0%, rgba(150, 233, 233, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daaaa', endColorstr='#96e9e9', GradientType=1 );
}

.light-blue {
  background-color: $light-blue;
}

.dark-blue {
  background-color: $dark-blue;
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}

.grey-text {
  color: $grey;
}

.blue-text {
  color: $blue;
}

.light-blue-text {
  color: $light-blue;
}

.dark-blue-text {
  color: $dark-blue;
}

a.evertz-text {
  color: $evertz;

  &:hover {
    color: darken($evertz, 10%);
  }
}

a.thrillworks-text {
  color: $thrillworks;

  &:hover {
    color: darken($thrillworks, 10%);
  }
}