.no-padding.columns {
  padding: 0 !important;
}

.no-bottom-space {
  margin-bottom: 0 !important;
}

.no-bottom-space-desktop {
  margin-bottom: 0 !important;

  @media screen and (max-width: 64em) {
    margin-bottom: 3em !important;
  }
}

.margin-top {
  margin-top: 2.5em !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-1 {
  margin-top: 1em !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-6 {
  margin-bottom: 3.5em !important;

  @media screen and (min-width: 64em) {
    margin-bottom: 6em !important;
  }
}

.margin-top-0-mobile-margin-top-2 {
  margin-top: 2em !important;

  @media screen and (min-width: 64em) {
    margin-top: 0 !important;
  }
}

.header-no-parallax {
  padding-top: .75em;

  @media screen and (max-width: 940px) {
    padding-top: 0;
  }

  @media screen and (max-width: 40em) {
    padding-top: .75em;
  }
}