/* ~~~ Was _fonts.scss */
// FONTS
// ARVO
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic');
// font-family: 'Arvo', serif;

// LATO
@import url('https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic,700,700italic,900,900italic');
// font-family: 'Lato', sans-serif;

// OPEN SANS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');
// font-family: 'Open Sans', sans-serif;

// FONT + TEXT STYLES
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

h1,
.h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: .75em;

  @media screen and (min-width: 40em) {
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 1.25rem;
  line-height: 1.2;
  
  @media screen and (min-width: 40em) {
    font-size: 2.5rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.2;

  @media screen and (min-width: 40em) {
    font-size: 1.9375rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;

  @media screen and (min-width: 40em) {
    font-size: 1.5625rem;
  }
}

h5,
.h5 {
  font-size: 1.125rem;

  @media screen and (min-width: 40em) {
    font-size: 1.25rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
}

p,
ul,
ol,
li {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

p {
  padding: 1em 0;
}

ol,
ul {
  margin-left: 2rem;
  padding: 0 0 .33rem 0;

  li {
    margin-top: .5em;

    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h4,
    &.h6 {
      margin-top: .5em;
    }
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  list-style-type: square;

  li {
    margin-left: 1em;
  }
}