@import '../../assets/styles/variables.scss';

.BackToTop {
  background: $background;
  border-radius: .33em;
    -moz-border-radius: .33em;
    -webkit-border-radius: .33em;
  border: 2px solid $white;
  bottom: 1em;
  display: none;
  height: 2.25em;
  position: fixed;
  right: 1em;
  text-decoration: none;
  transition: 
    display .3s ease,
    float .3s ease,
    position .3s ease;
  width: 2.25em;
  z-index: 1;

  @media screen and (min-width: 40em) {
    height: 3em;
    width: 3em;
  }

  span {
    color: $white;
    font-size: 1.15em;
    margin: 0;
    position: relative;
    transition: padding .2s ease;

    @media screen and (min-width: 40em) {
      font-size: 1.5em;
    }

    &:hover {
      padding-bottom: 0.2em;
      cursor: pointer;
    }
  }

  &.bottomedOut {
    display: block;
    float: right;
    margin-top: -2em;
    position: fixed;
  }

  &.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }

  &.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* zoomOut */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}