.BackToTop {
  #return-to-top {
    background: $background;
    border-radius: .33em;
      -moz-border-radius: .33em;
      -webkit-border-radius: .33em;
    border: 2px solid $white;
    bottom: 1em;
    display: none;
    height: 3em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    transition: bottom .5s ease, position .5s ease, display .5s ease, float .5s ease;
    width: 3em;
  
    &:hover,
    &:focus {
      span {
        top: 7px;
      }
    }
  
    span {
      color: $white;
      font-size: 1.5em;
      left: .47em;
      margin: 0;
      position: relative;
      top: .47em;
      transition: top .66s ease;
    }
  
    &.bottomed-out {
      bottom: -3.66em;
      display: block;
      float: right;
      margin-top: -2em;
      position: relative;
  
      @include breakpoint(large) {
        bottom: 2em;
      }
    }
  }
}